name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

  test-action:
    name: GitHub Actions Test
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4

      - uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
      - uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4
        with:
          dotnet-version: '8.0.x'
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version: '1.21.x'

      - name: Test Local Action for nodejs
        uses: ./
        with:
          runtime: nodejs
          directory: __tests__/programs/random-nodejs
          provider: random
          providerVersion: '4.16.2'

      - name: Test Local Action for python
        uses: ./
        with:
          runtime: python
          directory: __tests__/programs/random-python
          provider: random
          providerVersion: '4.16.2'

      - name: Test Local Action for dotnet
        uses: ./
        with:
          runtime: dotnet
          directory: __tests__/programs/random-dotnet
          provider: random
          providerVersion: '4.16.2'

      - name: Test Local Action for go
        uses: ./
        with:
          runtime: go
          directory: __tests__/programs/random-go
          provider: random
          providerVersion: '4.16.2'
